<%- include('./partials/head') %>
<header>
    <!--Background image-->
</header>
<div>
    <h1>ArtAtHome</h1>
</div>
<main>
    <section class="detail">
        <% data.map((kunst) => {
            const img = kunst.webImage.url.slice(0, -3) + "=s1000"
        %>
        <a href="../">Terug</a>
        <p><%= kunst.title %></p>
        <p><%= kunst.principalOrFirstMaker %></p>
        <img src="<%= img %>">
        <% }) %>
    </section>
</main>
<%- include('./partials/foot') %>