<%- include('./partials/head') %>
<header>
    <!--Background image-->
</header>
<div>
    <h1>ArtAtHome</h1>
</div>
<main>
    <section class="input">
        <img class="search-icon" src="img/zoekicoontje.png" alt="Zoekicoon">
        <input placeholder="Zoek op schilderij of artiest" type="text">
        <img class="kruisje" src="img/cross.png" alt="kruis">
    </section>
    <section class="content">
        <% data.map((kunst) => {
                const img = kunst.webImage.url.slice(0, -3)+"=s1000"
                    %>
        <article>
            <a href="kunst/<%= kunst.id %>">
                <p><%= kunst.title %></p>
                <p><%= kunst.principalOrFirstMaker %></p>
                <img src="<%= img %>">
            </a>
        </article>
        <% }) %>
    </section>
</main>
<%- include('./partials/foot') %>