<%- include('./partials/head') %>
<div>
    <h1>ArtAtHome</h1>
</div>
<main>
    <form method="get" action="/search" class="input">
        <input type="search" name="query" placeholder="Zoek op schilderij of artiest">
    </form>
    <section class="content">
        <% data.map((kunst) => {
                const img1000 = kunst.webImage.url.slice(0, -3)+"=s1000"
                const img750 = kunst.webImage.url.slice(0, -3)+"=s750"
                const img500 = kunst.webImage.url.slice(0, -3)+"=s500"
                    %>
        <article>
            <a href="kunst/<%= kunst.id.substring(3) %>">
                <p><%= kunst.title %></p>
                <p><%= kunst.principalOrFirstMaker %></p>
                <img srcset="<%= img1000 %> 1000w,
                <%= img750 %> 750w,
                <%= img500 %> 500w" alt="foto van een schilderij">
            </a>
        </article>
        <% }) %>
    </section>
</main>
<%- include('./partials/foot') %>